version: "3.8"

services:
  db:
    image: postgres:16
    container_name: sghss-db
    environment:
      POSTGRES_DB: sghss
      POSTGRES_USER: sghss
      POSTGRES_PASSWORD: sghss
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  db-data:
